.Dashboard-card {
  width: 260px;
  height: auto;
  background-color: white;
  padding: 10px 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Dashboard-card-text {
  margin-bottom: 10px;
  font-weight: 700;
}

.checkbox input[type="checkbox"] {
  width: 17px;
  height: 18px;
  margin-right: 8px;
}

.card-checkbox {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.checkbox label {
  font-weight: 400;
  font-size: 15px;
}

.Card-btn {
  width: 92%;
  background: #bf0a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.Card-btn button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.part1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 600px) {
  .Dashboard-main{
    width: 100%;
  }
  .Dashboard-card {
    width: 100%;
  }

  .Card-btn {
    width: 100%;
  }
  .part1{
    flex-direction: row;
  }
}
